.p1ImgCon{
  position: absolute;
  top: 48%;
  right: 0;
  transform: translate(0%,-50%);
  width: 90%;
}
.btn_StartImg{
  position: absolute;
  top: 105%;
  left: 0;
  width: 35%;
  transform: translate(0%,-50%);
}
.p1ImgCon .bgImg{
  width: 100%;
}
.logoImg{
  position: absolute;
  top: 2%;
  left: 2.5%;
  width: 95%;
}

.fromCon{
  position: absolute;
  bottom: 3%;
  left: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fromCon .fileImgs{
  width: 20%;
  background-image: url(../img/fileBg.png);
  background-size: 100% 100%;
  position: relative;
  overflow: hidden;
}
.fromCon .fileImgs::before{
  content: "";
  display: block;
  padding-top: 86.2%;
}
.fromCon .fileImgs input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.fromCon .fileImgs  img{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
  border-radius: 10px;
}
.btn_clickSCImg{
  height: 1.2rem;
  margin: 2% 0;
}
.fromCon .items{
  width: 65%;
}
.fromCon .items .label{
  display: block;
  width: 100%;
  background-image: url(../img/NameBg.png);
  background-size: 100% 100%;
  position: relative;
}
.fromCon .items .label::before{
  content: "";
  display: block;
  padding-top: 17.5%;
}
.fromCon .items .label input{
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 85%;
  height: 80%;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  color: #ffffff;
  background-color: transparent;
  letter-spacing: 2px;
  font-size: 1.3rem;
  appearance: none;
  -webkit-appearance: none;
}
.fromCon .items .label input::-webkit-input-placeholder{
  color: #ffffff;
}
.fromCon .items .label select{
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 85%;
  height: 80%;
  opacity: 0;
  outline: none;
}
.fromCon .items .words{
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff;
}
.fromCon .items .words textarea{
  width: 96%;
  padding: 2%;
  border: 0;
  background-color: transparent;
  outline: none;
}
.btn_sczsImg{
  width: 35%;
  display: block;
  margin: 4% 0;
}
.p1BottomImg{
  position: absolute;
  bottom: 2%;
  right: 2%;
  width: 25%;
}
.TxCon{
  position: absolute;
  top: 5%;
  width: 35%;
  left: 32.5%;
  background-image: url(../img/txBg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TxCon::before{
  content: "";
  display: block;
  padding-top: 112.5%;
}
.TxCon .HeadImg{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  background-color: #ffffff;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.TxCon .HeadImg::before{
  content: "";
  display: block;
  padding-top: 100%;
}
.txXBImg{
  position: absolute;
  top: 20%;
  left: 35%;
  width: 30%;
  z-index: 0;
}
.certificateTitle{
  position: absolute;
  top: 32%;
  left: 0;
  width: 100%;
  text-align: center;
}
.certificateTitle img{
  display: inline-block;
  width: 70%;
}
.certificateTitle  p{
  position: absolute;
  top: 47%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #C03346;
}
.RemmarksWords{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}
.RemmarksWords .Names{
  text-align: center;
  color: #C03346;
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin-bottom: 2%;
}
.RemmarksWords .Names b{
  font-size: 1.6rem;
}
.RemmarksWords .words{
  width: 65%;
  margin: 0 auto;
  font-size: 1rem;
  color: #5F5D5D;
}
.btn_bjImg{
  position: absolute;
  bottom: 4%;
  width: 30%;
  left: 35%;
}
.zswordssImg{
  position: absolute;
  bottom: 12%;
  left: 25%;
  width: 50%;
}
.chapterImg{
  position: absolute;
  bottom: 15%;
  right: 5%;
  width: 20%;
}
.fxImg{
  position: fixed;
  top: 2%;
  right: 2%;
  width: 30%;
}
.hbBottomImg{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
}
.hbtipsCodes{
  position: absolute;
  bottom:3%;
  left: 0;
  width: 95%;
  text-align: right;
}
.hbtipsCodes img{
  display: inline-block;
}
.hbtipsCodes .codeImg{
 width: 13%;
}
.hbtipsCodes .codeTips{
 width: 29%;
}
.inputRadioItem{
  display: inline-block;
  width: 25%;
  text-align: center;
  margin: 0.4rem 0;
}
.inputRadioItem label{
  color: #C03346;
  font-size: 1.2rem;
  font-weight: bold;
  padding-right: 5px;
}
.loadingImg{
  position: absolute;
  top: 15%;
  left: 45%;
  width: 15%;
  animation: sadasdsa 1.5s infinite linear;
}
@keyframes sadasdsa{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}
.p2ImgCon{
  position: absolute;
  top: 45%;
  left: 50%;
  width: 100%;
  transform: translate(-50%,-50%);
}
.p2ImgCon .p2SwiperBgImg{
  width: 95%;
  margin-left: 5%;
}
.swiperss{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.swiperss .Pictureframe{
  width: 70%;
  margin: 0 auto;
  background-image: url(../img/HKBg.png);
  background-size: 100% 100%;
  position: relative;
  margin-left: 17%;
}
.swiperss .Pictureframe::after{
  content: "";
  display: block;
  padding-top: 79.8%;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  background-image: url(../img/left.png);
  background-size: 1rem auto;
  left: 9%;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  background-image: url(../img/right.png);
  background-size: 1rem auto;
  right: 11%;
}
.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 38%;
}
.Pictureframe .zpImgs{
  position: absolute;
  top: 11%;
  left: 9.5%;
  background-size: cover;
  background-position: center;
  width: 74%;
}
.Pictureframe .zpImgs::after{
  content: "";
  display: block;
  padding-top: 71.2%;
}
.zpInfoWords{
  text-align: center;
  color: #333333;
}
.zpInfoWords p{
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.6;
}
.btn_ckygImg{
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%,0);
  width: 25%;
}
.p2ImgBottomImg{
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%,0);
  width: 55%;
}
.btn_zctImg{
  position: absolute;
  bottom: 18%;
  left: 50%;
  transform: translate(-50%,0);
  width: 32%;
}
.p3ImgBottom{
  position: absolute;
  bottom: 9%;
  left: 50%;
  transform: translate(-50%,0);
  width: 50%;
}
.DonateListCon{
  position: absolute;
  top: 35%;
  left: 50%;
  width: 50%;
  transform: translate(-50%,0%);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.DonateListCon .Item{
  display: block;
  padding: 0.2rem 0;
  font-size: 1.4rem;
  text-align: center;
  width: 44%;
  margin: 2%;
  border: 1px solid #333333;
  color: #333333;
  border-radius: 5px;
}
.DonateListCon .Item.active{
  background-color: #2D49B7;
  border-color: #2D49B7;
  color: #ffffff;
}
.DonateListCon  .InputS{
  padding-top: 5%;
  font-size: 1.2rem;
}
.DonateListCon  .InputS input{
  display: inline-block;
  width: 58%;
  margin-left: 1%;
  text-align: center;
  border-radius: 5px;
  padding: 0.2rem 0;
  border: 1px solid #333333;
  outline: none;
}
.btn_qdjeImg{
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%,0);
  width: 42%;
}
.p4ImgCon{
  position: absolute;
  top: 8%;
  right: 0;
  width: 90%;
}
.p5ImgCon{
  position: absolute;
  top: 15%;
  right: 5%;
  width: 90%;
}
.p5ImgCon .bgImg{
  width: 100%;
}
.p4ImgCon .bgImg{
  width: 100%;
}
.p4ImgCon .UserInfo{
  position: absolute;
  top: 58%;
  left: 3%;
  width: 100%;
}
.p4ImgCon .UserInfo>*{
  vertical-align: middle;
}
.p4ImgCon .UserInfo img{
  display: inline-block;
  width: 16%;
  border-radius: 100%;
}
.p4ImgCon .UserInfo span{
  font-size: 1.4rem;
  font-weight: bold;
}
.p4ImgCon .SelectImg{
  position: absolute;
  top: 18.5%;
  left: 8%;
  width: 66%;
  background-position: center;
  background-size: cover;
}
.p4ImgCon .SelectImg::after{
  content: "";
  display: block;
  padding-top: 71.2%;
}
.p5ImgCon .UserInfo{
  position: absolute;
  top: 55%;
  left: 13%;
  width: 100%;
}
.p5ImgCon .UserInfo>*{
  vertical-align: middle;
}
.p5ImgCon .UserInfo img{
  display: inline-block;
  width: 16%;
  border-radius: 100%;
}
.p5ImgCon .UserInfo span{
  font-size: 1.4rem;
  font-weight: bold;
}
.p5ImgCon .SelectImg{
  position: absolute;
  top: 14.5%;
  left: 15%;
  width: 66%;
  background-position: center;
  background-size: cover;
}
.p5ImgCon .SelectImg::after{
  content: "";
  display: block;
  padding-top: 71.2%;
}
img.ResultImg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}
@media (min-height: 690px){
  .p4ImgCon {
    position: absolute;
    top: 13%;
  }
}